@model IEnumerable<KuShop.ViewModels.PdVM>
@{
    //สามารถเขียนคำสั่งด้วย c# ได้
}



@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if(TempData["SuccessMessage"]!= null)
{
    <div class="alert alert-warning">
        @TempData["SuccessMessage"]
    </div>
}


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/image/bg.jpg" class="d-block w-100" alt="bg">
        </div>
        <div class="carousel-item">
            <img src="/image/bg1.jpg" class="d-block w-100" alt="bg1">
        </div>
        <div class="carousel-item">
            <img src="/image/bg2.jpg" class="d-block w-100" alt="bg2">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />
<h1 class="text-success display-4">Manga ทั้งหมด</h1>

@{
    //รับค่าจาก ViewBag ที่ส่งมาจาก Controller
    var stext = ViewBag.stext;
}


<form asp-controller="Home" asp-action="Shop">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
        
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="input-group">
                <span class="input-group-text">ค้นหา</span>
                <input type="text" name="stext" class="form-control" value="@stext" />
                <button type="submit" class="btn btn-secondary">
                    OK
                </button>
            </div>
        </div>
    </div>
</form>

<div class="row mt-3">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-12">
            <!--Copy ส่วน Card มาจาก Getbootstrap-->
            <div class="card p-2 shadow-sm">
                @{
                    var pdimg = "/imgpd/" + item.PdId + ".jpg";
                }
                <img src="@pdimg" class="p-3" width="300px" height="350px">
                <div class="card-body bg-info bg-opacity-10">
                    <h5 class="card-title">@item.PdName</h5>
                    <p class="card-subtitle text-muted">@item.CategoryName</p>
                    <a class="btn btn-link"
                       asp-controller="Product" asp-action="show" asp-route-id="@item.PdId">
                        รายละเอียด
                    </a>
                    <a asp-controller="Cart" asp-action="AddDtl" asp-route-pdid="@item.PdId"
                       class="text-danger float-end">
                        <i class="bi bi-cart-plus-fill lead"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
